<!-- <div class="container">
    <div class="intro">
        <img srcset="./assets/logo.svg" alt="">
        <h1>The secret to your success</h1>
    </div>
    <div class="form-panel">
        <form action="#">
            <h2>Welcome</h2>
            <input type="email" name="" id="email" placeholder="Email">
            <input type="password" name="" id="password" placeholder="Password">
            <button id="loginButton">Continue</button>
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </form>
    </div>
</div> -->